server {
    listen 80;
    server_name 174.129.194.175;

    # Redirige todas las solicitudes HTTP a HTTPS
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name 174.129.194.175;

    ssl_certificate /etc/ssl/certs/nginx-selfsigned.crt; # Ruta al certificado (si usas SSL localmente)
    ssl_certificate_key /etc/ssl/private/nginx-selfsigned.key;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri /index.html;
    }

    location /service-worker.js {
        root /usr/share/nginx/html;
        headers {
            Service-Worker-Allowed "/";
        }
    }
}
